.tree-node {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.partner {
    margin-top: 10px;
}

.tree-node ul {
    margin: 0 auto;
    padding-top: 20px;
    padding-inline-start: 0px;
    position: relative;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree-node li {
    float: left;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.tree-node li::before,
.tree-node li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 1px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree-node li::after {
    right: auto;
    left: 50%;
    border-left: 1px solid #ccc;
}

.tree-node li:only-child::after,
.tree-node li:only-child::before {
    display: none;
}

.tree-node li:only-child {
    padding-top: 0;
}

.tree-node li:first-child::before,
.tree-node li:last-child::after {
    border: 0 none;
}

.tree-node li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}

.tree-node li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

.tree-node ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
}